@use '_reset';

body {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
}

.card {
    background-color: #fff;
    max-width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.card-content {
    padding: 1.5rem;
}

.card__heading {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card__text {
    color: hsl(224, 23%, 55%);
    max-width: 25ch;
    margin: auto;
}

.chosen-plan {
    display: grid;
    grid-template-areas: "a b c";
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    margin: auto;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    img {
        margin: 1rem 0 1rem 1rem;
    }

    .chosen-plan__heading {
        font-size: 0.95rem;
        font-weight: 900;
    }

    .chosen-plan__text {
        font-size: 0.95rem;
        color: hsl(224, 23%, 55%);
    }

    .chosen-plan__change-plan-btn {
        font-size: 0.9rem;
        font-weight: 700;
        border: none;
        background-color: hsl(225, 100%, 98%);
        color: hsl(245, 75%, 52%);
        text-decoration: underline;
        margin-left: 2rem;
        transition: all 0.3s ease-in-out;
    }

    .chosen-plan__change-plan-btn:is(:hover, :focus) {
        text-decoration: none;
        cursor: pointer;
    }
}

.card__payment-btn {
    display: block;
    margin: auto;
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0px 30px 20px -22px rgba(40, 40, 226, 1);
    -moz-box-shadow: 0px 30px 20px -22px rgba(40, 40, 226, 1);
    box-shadow: 0px 30px 20px -22px rgba(40, 40, 226, 1);
    transition: all 0.3s ease-in-out;
}

.card__payment-btn:is(:hover, :focus) {
    cursor: pointer;
    opacity: 0.7;
    transform: translateY(-3px);
}

.card__cancel-order-btn {
    font-weight: 900;
    background-color: #fff;
    color: hsl(224, 23%, 55%);
    border: none;
    transition: all 0.3s ease-in-out;
}

.card__cancel-order-btn:is(:focus, :hover) {
    cursor: pointer;
    color: black;
}

@media (min-width: 500px) {
    .card {
        max-width: fit-content;
    }
}